.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        Mart 
        %ul.side-header__box__menu
          %li.side-header__box__new-group
            = link_to "#" do
              = icon('fas', 'edit unko')
          %li.side-header__box__edit-user
            = link_to "#" do
              = icon('fas', 'cog sikko')
            
  .groups
    %p.group-name
      techcamp
    %p.group-message
      まだメッセージがありません